body {
  text-align: center;

  background-color: rgb(26, 251, 183);
}

nav {
  background-color: rgb(189, 247, 177);

  padding: 10px;
}

ul {
  list-style-type: none;

  padding: 0;

  margin: 0;

  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;

  padding: 10px;

  text-decoration: none;

  color: black;
}

li a:hover {
  background-color: #ddd;
}
